<h2 class="title"></h2>

<p>
  Every <span class="delayed">EVEN </span>character you input is emmited with 1
  second delay
</p>
<p>
  Every <span class="instant">ODD</span> character you input emitted instantly
</p>

<p>
  <label>
    mergeMap <br />
    <input type="text" #mergeMapInput />
  </label>
</p>

<ng-container
  *ngTemplateOutlet="operatorResult; context: { $implicit: 'mergeMap' }"
></ng-container>

<p>
  <label>
    concatMap <br />
    <input type="text" #concatMapInput />
  </label>
</p>

<ng-container
  *ngTemplateOutlet="operatorResult; context: { $implicit: 'concatMap' }"
></ng-container>

<p>
  <label>
    switchMap <br />
    <input type="text" #switchMapInput />
  </label>
</p>

<ng-container
  *ngTemplateOutlet="operatorResult; context: { $implicit: 'switchMap' }"
></ng-container>

<ng-template #operatorResult let-operator>
  <div class="result-container">
    <span
      *ngFor="let res of results[operator]"
      class="map-result"
      [ngClass]="res === 0 ? 'delayed' : 'instant'"
    >
    </span>
  </div>
  <div class="result-container delayed-container">
    <span
      *ngFor="let delayedQueue of delayedQueue[operator]"
      class="map-result"
      [ngClass]="delayedQueue === 0 ? 'delayed' : 'instant'"
    >
    </span>
  </div>
  <div>
    <button class="reset" (click)="resetObservable(operator)">reset</button>
  </div>
</ng-template>
