<h2 class="title">Every second event gets delayed by 1 sec</h2>
<p>
  <label>
    mergeMap <br />
    <input type="text" #mergeMapInput />
  </label>
</p>

<ng-container
  *ngTemplateOutlet="operatorResult; context: { $implicit: results.mergeMap }"
></ng-container>

<p>
  <label>
    concatMap <br />
    <input type="text" #concatMapInput />
  </label>
</p>

<ng-container
  *ngTemplateOutlet="operatorResult; context: { $implicit: results.concatMap }"
></ng-container>

<p>
  <label>
    switchMap <br />
    <input type="text" #switchMapInput />
  </label>
</p>

<ng-container
  *ngTemplateOutlet="operatorResult; context: { $implicit: results.switchMap }"
></ng-container>

<ng-template #operatorResult let-arr>
  <div class="result-container">
    <span
      *ngFor="let res of arr"
      class="map-result"
      [ngStyle]="{ 'background-color': res === 0 ? '#2975d7' : '#52c452' }"
    >
    </span>
  </div>
  <div>
    <button (click)="arr.length = 0">reset</button>
  </div>
</ng-template>
